@model Cart

<h2>Your Shopping Cart</h2>

@*Form to save Product Ids to list in order to pass to controller*@
<form method="post" asp-action="Checkout">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Total</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {


                <tr>
                    <td>@item.Id</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>
                        @* Remove form for cart item *@
                        <a class="btn btn-danger" asp-action="DeleteFromCart" asp-route-cartItemId="@item.Id">Remove</a>


                        @* <form asp-action="DeleteFromCart" method="post">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <input type="submit" value="Remove" class="btn btn-danger" />
                        </form> *@
                    </td>
                </tr>
               
                <input type="hidden" name="productIds" value="@item.Product.Id" />
                
            }
        </tbody>
    </table>

    @if (Model.CartItems.Any())
    {
        <button class="btn btn-success" type="submit">Purchase</button>
    }
    else
    {
        <button hidden class="btn btn-success" type="submit">Purchase</button>
    }

    
</form>

