@model IEnumerable<ANotSoTypicalMarketplace.Models.Product>

<h2>Current items for sale!</h2>

<a class="btn btn-primary" asp-action="AddListingPage"> Add New Listing</a>
<table class="table table-bordered table-striped m-2">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><a class="btn btn-primary" asp-action="PriceMatch" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <span class="material-symbols-outlined">
                            sell
                        </span>
                        Price match
                    </a>
                </td>
                @if (item.Stock != 0)
                {
                    <td><a class="btn btn-primary" asp-action="SellProduct" asp-route-id="@item.Id" asp-route-stock="@item.Stock">
                            <span class="material-symbols-outlined">
                                attach_money
                            </span>
                            Buy Now
                        </a>
                    </td>
                    <td><a class="btn btn-primary" asp-action="AddToCart" asp-route-productId="@item.Id">
                            <span class="material-symbols-outlined">
                            add_shopping_cart
                        </span>
                        Add To Cart
                        </a>
                </td>
                }
                else{
                    <td>Out of stock</td>
                }

            </tr>
        }
    </tbody>
</table>
